/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-light-black: #333333;
  --basic-light-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-lihgt-gray: #F2F2F2;
  --basic-blue-hover: #669EC0;
  --basic-blue-focus: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-focus: #503E33;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
}

/* global*/
.page {
  width: 1280px;
}

body {
  min-width: 1200px;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;

}

ul {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
}

.visually-hidden {
  display: none;
}

/*Grid*/
.page {
  height: 100%;
  margin: 0 auto;


}

.main-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

/*Main navigation*/
.main-header {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}

.main-logo {
  justify-self: center;
  width: 138px;
  height: 70px;
}

.main-navigation-list-1,
.main-navigation-list-2 {
  display: grid;
  grid-template-columns: 200px 200px;
}

.main-navigation-list-1 {
  text-align: left;
}

.main-navigation-list-2 {
  text-align: right;
}

.main-navigation-list-1 a,
.main-navigation-list-2 a {
  color: var(--basic-black);
}

.main-navigation-list-1 a:hover,
.main-navigation-list-2 a:hover {
  color: var(--basic-light-blue);
}

.main-navigation-list-1 a:focus,
.main-navigation-list-2 a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-navigation-list-1 a:active,
.main-navigation-list-2 a:active {
  color: var(--basic-brown);
}

/*Main page*/
.main-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 510px;
}

.image,
.motto {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.motto {
  justify-self: center;
  padding-top: 80px;
  height: 350px;
}

.headline1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.headline2,
.headline3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}


.greeting p {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-light-black);
  text-align: center;

}

.features {
  display: grid;
  grid-template-rows: 256px 330px 256px 256px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-grid-1 {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 256px;

}

.sity {
  grid-column-start: 2;
  grid-column-end: -1;
  width: 100%;
  height: 100%;

}

.feature-one-layout {
  grid-column-start: 1;
  grid-column-end: 2;

}

.feature-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;

}

.benefits-item {
  padding: 20px;
}

.feature-grid-3 {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 256px;
}

.feature-two-layout {
  grid-column-start: 4;
  grid-column-end: -1;
}

.canyon {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
}

.feature-grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
}

.feature-one,
.socials-item {
  background-color: var(--basic-light-blue);
}

.headline2,
.text1,
.hotel-search,
.hotel-search:focus {
  color: var(--basic-white);
}

.text2,
.text3 {
  color: var(--basic-light-black);
}


.feature-two {
  background-color: var(--basic-gray);
}


.location h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search {
  background-color: var(--basic-brown);
}

.hotel-search:hover {
  background-color: var(--basic-brown-hover);
}

.hotel-search:focus {
  background-color: var(--basic-brown-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer*/
.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white-transparent);
}


.socials-item:hover {
  background-color: var(--basic-blue-hover);
}

.socials-item:focus {
  background-color: var(--basic-blue-focus);
}

.site-creator {
  text-align: right;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}
