/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-light-black: #333333;
  --basic-light-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-lihgt-gray: #F2F2F2;
  --basic-blue-hover: #669EC0;
  --basic-blue-focus: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-focus: #503E33;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
}

/* global*/
.page {
  width: 1280px;
  background-color: var(--basic-lihgt-gray);
}

body {
  max-width: 1200px;
  position: relative;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  box-shadow: 0px 0px 22px 0px rgba(34, 60, 80, 0.1);

}

a {
  text-decoration: none;
  color: var(--basic-black);
}

/*img {
  max-width: 100%;
  max-height: 100%;

}*/

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text_small {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.text_medium {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.text_big {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.light-black-text {
  color: var(--basic-light-black);
}

.white-text {
  color: var(--basic-white);
}

/*Grid*/
.page {
  height: 100%;
  margin: 0 auto;
  position: relative;


}

.main-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  z-index: 100;
}


.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin: 0 73px;
  list-style: none;
  min-height: 56px;
}


.main-navigation__link:hover,
.hotel-link:hover {
  color: var(--basic-light-blue);
}

.main-navigation__link:focus,
.hotel-link:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-navigation__link:active {
  color: var(--basic-brown);
}

/*Main page*/
.main-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 510px;
  position: relative;
}

.main-image__image,
.main-image__motto {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main-image__motto {
  justify-self: center;
  padding-top: 80px;
  height: 350px;
}
/*.main-image__image:after {
  content: "";
  background-image: url(../img/Shape.png);
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 20px;
  z-index: 4;

}*/


.features__description {
  font-weight: normal;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.features-item_colored {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: var(--basic-light-blue);
  margin: 0;
  padding: 50px 40px;
}


.features-item:first-child {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 256px;

}

.features-item_colored .features-item__headline {
  position: relative;
  width: 175px;
  margin: 5px auto;

}

.features-item_colored .features-item__text {
  width: 310px;
}

.features-item:last-child {
  min-height: 260px;
  background-color: var(--basic-gray);


}

.features-item__column_one,
.features-item__column_two {
  padding: 50px 63px 40px 63px;
}

.features-item__headline_imaged {
  position: relative;
  margin: 25px auto;
  padding: 0px;
  margin-top: 140px;

}



.features-item__headline_imaged::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}

.hamburger::before {
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}

.gift::before {
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-2.svg");
}


.features-item:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 256px;
}

.features-item__list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;

}

.sity {
  grid-column-start: 2;
  grid-column-end: -1;
  width: 800px;
  height: 256px;

}


.canyon {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 800px;
  height: 256px;
}

.features-item__column_two {
  text-align: center;
}

.features-item__column_two .features-item__headline {
  width: 139px;
  height: 43px;
  margin: 0px auto;
}

.location {
  position: relative;
}

.location__title {
  width: 475px;
  height: 155px;
  margin: 60px auto 40px;
}

.location-image {
  position: absolute;
  bottom: -190px;
  left: 0;
  width: 1199px;
  height: 594px;
  z-index: 1;

}


.location__headline {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search__button {
  position: relative;
  width: 568px;
  height: 86px;
  text-transform: uppercase;
  z-index: 3;
}

.hotel-search__button,
.booking {
  background-color: var(--basic-brown);
}

.hotel-search__button:hover,
.booking:hover {
  background-color: var(--basic-brown-hover);
}

.hotel-search__button:focus,
.booking:focus {
  background-color: var(--basic-brown-focus);
  color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotel-search-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 30px;
  width: 510px;
  height: 340px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 3;


  outline: 1px solid red;
}

.form-container {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  height: 50px;
  margin: 10px 10px 10px 0px;
}
.form-container:nth-child(2) .date-label {
  margin-right: 5px;
}
.form-container .amount-label {
  margin-left:22px;
}


.big-field {
  width: 346px;
}

.small-field {
  width: 114px;
  text-align: center;
  margin-left: 20px;
}

.hotel-search__label {
  margin-left: 30px;
  margin-right: 10px;
}
.date-label {
  margin-left: 20px;
}

.hotel-search__field {
  background-color: var(--basic-lihgt-gray);
  height: 38px;

}

.calendar {
  width: 21px;
  height: 23px;
  position: absolute;
  border: 0;
  right: 9px;


}

.form-object:hover path,
.form-object:hover rect {
  fill: var(--basic-black);
}

.form-object:focus path,
.form-object:focus rect {
  fill: var(--basic-light-blue);
}


.less-button {
  position: absolute;
  right: 90px;
  top: 10px;

}

.more-button {
  position: absolute;
  right: 15px;
  top: 12px;
}





.hotel-search-form__button {
  width: 458px;
  height: 58px;
  margin: 50px 50px 60px 50px;
  background-color: var(--basic-light-blue);
}

.hotel-search__field,
.hotel-search-form__button {
  text-transform: uppercase;
  border: 0;
}



/*Hotels*/
.search-filter__form {
  display: flex;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  padding: 26px 72px;
}

.search__fieldset {
  width: 140px;
  border: none;
  margin-right: 50px;
  text-align: left;
}

.search-filter__item {
  margin-bottom: 20px;
}

.filter-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input+.filter-label:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input:checked+.filter-label:before {
  background-image: url(../img/checkbox-on.svg);
}

.price-legend {
  margin-bottom: 10px;
  text-align: left;
}

.price-fieldset {
  border: none;
  margin-left: auto;
  padding: 0;
}

.price-item,
.price__list {
  margin: 0px;
  padding: 0px;
}

.price-item__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  list-style: none;
  padding: 0px;
}

.filter-line {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range {
  position: relative;
  width: 316px;
  height: 22px;
  padding-top: 15px;
  padding-left: 5px;
}

.scale {
  width: 316px;
  height: 2px;
  background: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.toggle {
  position: absolute;
  width: 19px;
  height: 21px;
  background-image: url(../img/toggle.svg);
  top: 6px;
}

.toggle-max {
  left: 248px;
}

.range-button {
  width: 137px;
  height: 36px;
  background-color: inherit;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 7px 35px 6px 35px;
  font-size: inherit;

}

.sort-box {
  display: flex;



}

.sort__title {
  margin-right: 40px;
  margin-left: 73px;
}

.sort-option {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 0;
}

.sort-option__item {
  font-size: 12px;
  line-height: 18px;
  margin-right: 35px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-light-blue);
}

.sort-option .active {
  color: var(--basic-light-blue);
  opacity: 1;
  border: none;
}

.sort-option .sort-option__item:first-child {
  opacity: 1;
}

.sort-button-up,
.sort-button-down {
  width: 11px;
  height: 10px;
  position: absolute;
  top: 25px;
  border-style: unset;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

.sort-button-up {
  background-image: url(../img/icon-up-dir.svg);
  right: 73px;
}

.sort-button-down {
  background-image: url(../img/icon-down-dir.svg);
  right: 95px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.sort-list__item {
  display: flex;
  flex-grow: 1;
  width: 1200px;
  justify-content: flex-start;
  padding: 30px 73px;
  border-bottom: 1px solid var(--basic-lihgt-gray);
}

.hotel-link {
  position: relative;
  bottom: 10px;

  min-width: 300px;
  text-align: left;
}

.sort-list__image {
  align-self: center;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.sort-list__text {
  margin: 0px;
  margin-bottom: 10px;
}

.sort-list__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  width: 400px;
  margin: 0px;
  padding: 0px;

}

.sort-list__content_block {
  margin-right: 10px;
  width: 110px;
  max-height: 65px;
  text-align: left;
}


.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;

}

.rating__list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  width: 90px;
  margin-left: auto;
  padding: 0;
  position: relative;
}

.rating__item {
  content: "";
  position: relative;
  background-image: url("../img/star.svg");
  width: 19px;
  height: 17px;
}

.rating__text {
  width: 100px;
  height: 20px;
  background-color: var(--basic-lihgt-gray);
  color: var(--basic-dark-gray);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.detail,
.booking {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  font-weight: bold;
  margin: 0;
  padding: 3px 16px 3px 17px;

}

.detail {
  height: 27px;
  left: 277px;
}

.booking {
  min-width: 142px;
  height: 27px;
}


.detail,
.socials__item {
  background-color: var(--basic-light-blue);
}

.detail:hover,
.socials__item:hover {
  background-color: var(--basic-blue-hover);
}

.detail:focus,
.socials__item:focus {
  background-color: var(--basic-blue-focus);
}

/*Footer*/
.main-footer {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white-transparent);
  margin: 0;
  padding: 0;
  bottom:-200px;
  width: 100%;
  margin-top: auto;
  min-height: 120px;
  z-index: 4;
}

.contacts {
  text-align: center;
  padding-top: 15px;
}

.contacts__text {
  margin-bottom: 10px;
}

.phone {
  margin-bottom: 18px;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  color: inherit;
  line-height: 0px;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
}

.socials {
  justify-self: center;
  align-self: center;
}


.site-creator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding-left: 70px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}
